* {
    margin: 0;
    padding: 0;
    font-family: Century, arial, sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/background-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100lvh;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
}

.navbar ul {
    list-style-type: none;
    font-size: 1rem;
}

.navbar ul li {
    display: inline-block;
    padding: 1rem 0.6rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

.navbar ul li a:hover {
    background-color: #fff;
    color: #000;
}

.navbar ul li.active a {
    background-color: #fff;
    color: #000;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

section.section-content {
    width: 100%;
    height: 85lvh;
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

section.section-footer {
    width: 100%;
    height: 5lvh;
    display: flex;
}

h1 {
    color: burlywood;
    font-size: 70px;
    text-align: center;
    min-width: 650px;
}

.p1 p {
    color: aliceblue;
    padding: 1.5%;
    font-size: large;
}

.p2 p {
    color: aliceblue;
    padding: 1%;
    font-size: large;
}

.list {
    font-size: large;
    padding: 2%;
    color: aliceblue;
}

.list p {
    color: aliceblue;
    padding: 1.5;
    font-size: large;
}

.contact {
    text-align: center;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}



.photo-gallery {
    margin-top: 5px;
    padding: 10px;
    /* border: 2px solid #ccc; */
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 75%;
}

.photo-gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/*.map-div {*/
/*    height: 650px;*/
/*    width: 850px;*/
/*    align-items: center;*/
/*    !*margin-top: 2rem;*!*/
/*    !*gap: 1rem;*!*/
/*}*/

.map {
    height: 80%;
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
}